{% extends '_base.html' %}

{% block css_styles %}
{% for css_style in css_style_sheets %}
<link rel="stylesheet" href="static/css/{{ css_style }}">
{% endfor %}
{% endblock %}

{% block content %}
<!-- Card -->
<div class="w3-row w3-margin w3-center">
    <div class="w3-col l2 w3-transparent">
        <!-- center spacer  for main content-->
        <p></p>
    </div>
    <div class="w3-col w3-card-4 l8 s12 w3-white">
        <div class="w3-container" style="padding-bottom: 15px;">
            <h2 class="w3-center">
                Analysis Examples
            </h2>

            <ul class="w3-left-align" id="List1">
                <li>
                    <a href="https://nbviewer.org/github/claytoncook12/KYTC-CBRAnalysis/blob/master/KYTC%20CBR%20Data%20Analysis.ipynb" target="_blank"
                    style="color:#4BAF50;"
                    >
                        Analysis of KYTC CBR Data
                    </a>
                </li>
                <li>
                    <a href="https://nbviewer.org/github/claytoncook12/CPTPython/blob/master/Warren%20Co.%2C%203-8818.00%2C%20CPT%20Analysis.ipynb" target="_blank"
                    style="color:#4BAF50;"
                    >
                        Warren Co. CPT Analysis
                    </a>
                    - Warren Co. 3-8818.00 CPT Analysis (
                        Final Engineering Report here,
                        <a href="https://kgs.uky.edu/kgsweb/KYTC/Reports/S-087-2020.pdf" target="_blank">
                            S-087-2020
                        </a>
                    )
                </li>
            </ul>

            <div class="w3-row w3-left-align">
                <p><button class="w3-button w3-padding-large w3-white w3-border" type="button"
                        onclick="location.href='{{index_ref}}index.html'">
                        <b>Back to Home</b>
                    </button></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_files %}
<script>
    function w3HideById(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-hide") == -1) {
        x.className += " w3-hide";
      } else {
        x.className = x.className.replace(" w3-hide", "");
      }
    }
</script>
{% endblock %}