<!DOCTYPE html>
<html>

<head>
<title>Clayton Cook</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ index_ref }}static/images/cc_cog.svg">
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/0f74d8f617.js" crossorigin="anonymous"></script>
<!-- CSS Styles -->
{% block css_styles %}{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>

<body class="w3-light-grey">

<!-- NavigationBar-->
<div class="w3-bar w3-white" style="border-bottom: #4BAF50 4px solid;">
  <div class="w3-container w3-center w3-hide-medium w3-hide-small" style="font-size: 24px;">
    <a href="{{ index_ref }}index.html" style="text-decoration: none;">
      <img 
      src="{{ index_ref }}static/images/cc_cog_order_to_disorder.svg"
      alt="csc_cog"
      style="max-height: 60px; margin: 10px;"
      >
    </a>
    Clayton Cook P.E. 
      <span class="w3-text-grey" style="font-size: 20px;">
        | Engineer, Programmer, and Musician
      </span>
  </div>

  <div class="w3-container w3-center w3-hide-large" style="font-size: 18px;">
    <a href="{{ index_ref }}index.html">
      <img 
      src="{{ index_ref }}static/images/cc_cog_order_to_disorder.svg"
      alt="csc_cog"
      style="max-height: 60px; margin: 10px;"
      >
    </a><br>
    Clayton Cook P.E.       
      <span class="w3-text-grey" style="font-size: 14px;">
        | Engineer, Programmer, and Musician
      </span>
  </div>

  <div>
    <div class="w3-center">
      <a href="{{ index_ref }}index.html" 
        class="w3-button w3-hide-small w3-hover-none w3-text-grey w3-hover-text-black">
        Home
      </a>
      <a href="{{ index_ref }}about.html"
        class="w3-button w3-hide-small w3-hover-none w3-text-grey w3-hover-text-black">
        About
      </a>
      <!-- <a href="#"
        class="w3-button w3-hide-small w3-hover-none w3-text-grey w3-hover-text-black">
        Music
      </a> -->
      <a href="javascript:void(0)" 
        class="w3-button w3-right w3-hide-large w3-hide-medium w3-hover-none w3-text-grey w3-hover-text-black" onclick="myFunction()">&#9776;</a>
    </div>
  
    <div id="navbar-id" class="w3-center w3-bar-block w3-hide w3-hide-large w3-hide-medium">
      <a href="{{ index_ref }}index.html" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-black">
        Home
      </a>
      <a href="{{ index_ref }}about.html" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-black">
        About
      </a>
      <!-- <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-black">
        Music
      </a> -->
    </div>
  </div>
</div>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Main Content -->
{% block content %}{% endblock %}

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer 
  class="w3-container w3-transparent w3-padding-32 w3-margin-top"
>
    <a href="https://github.com/claytoncook12" target="_blank"
      style="text-decoration: none;"
    >
      <i 
        class="fa-brands fa-github w3-large w3-hover-text-green"
      ></i>
    </a>
    <a href="https://www.facebook.com/clayton.cook.165470" target="_blank"
      style="text-decoration: none;"
    >
      <i
        class="fa-brands fa-facebook w3-large w3-hover-text-green"
      ></i>
    </a>
    - Clayton S. Cook - 2022
</footer>

<!-- Javascript Files -->
{% block js_files %}{% endblock %}

<!-- Navigation Script -->
<script>
  function myFunction() {
    var x = document.getElementById("navbar-id");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
</body>
</html>