{% extends '_base.html' %}

{% block css_styles %}
{% for css_style in css_style_sheets %}
<link rel="stylesheet" href="static/css/{{ css_style }}">
{% endfor %}
{% endblock %}

{% block content %}
<!-- Card -->
<div class="w3-row w3-margin w3-center">
    <div class="w3-col l2 w3-transparent">
        <!-- center spacer  for main content-->
        <p></p>
    </div>
    <div class="w3-col w3-card-4 l8 s12 w3-white">
        <div class="w3-container" style="padding-bottom: 15px;">

            <h2 class="w3-center">Favorite Links</h2>

            <p class="w3-left-align">
                This is just a list of my favorite pages on the internet listed
                by topic.
            </p>

            <h3 class="w3-left-align">
                Tech Teaching
            </h3>
            <p class="w3-left-align">
            <ul class="w3-left-align">
                <li>
                    <a href="https://exercism.org/" target="_blank">
                        Exercism
                    </a>
                    - Solve coding exercises and get mentored to develop fluency
                </li>
                <li>
                    <a href="https://gomakethings.com/" target="_blank">
                        Go Make Things
                    </a>
                    - Tips and Tricks on vanilla Javascript
                </li>
                <li>
                    <a href="https://www.mattlayman.com/understand-django/" target="_blank">
                        Understand Django
                    </a>
                    - Free Book for Understanding the Django python web framework
                </li>
                <li>
                    <a href="https://greenteapress.com/wp/" target="_blank">
                        Green Tea Press
                    </a>
                    - Wonderful Free Online Books on Programming topics by Allen Downey
                </li>
                <li>
                    <a href="https://www.iamtimcorey.com/" target="_blank">
                        I Am Tim Corey
                    </a>
                    - Resources and training for C# development
                </li>
                <li>
                    <a href="https://www.angulartraining.com/" target="_blank">
                        Angular Training
                    </a>
                    - Resources and certificates for the Angular front end framework
                </li>
                <li>
                    <a href="https://www.danywalls.com/" target="_blank">
                        danywalls.com
                    </a>
                    - Angular + Web
                </li>
            </ul>
            </p>

            <h3 class="w3-left-align">
                Tech Tools
            </h3>
            <p class="w3-left-align">
            <ul class="w3-left-align">
                <li>
                    <a href="https://www.cakewalk.com/" target="_blank">
                        CakeWalk
                    </a>
                    - Free Windows DAW
                </li>
                <li>
                    <a href="https://onecompiler.com/" target="_blank">
                        One Compiler
                    </a>
                    - Run and Share Code in the Browser
                </li>
                <li>
                    <a href="https://pythontutor.com/" target="_blank">
                        Python Tutor
                    </a>
                    - Visualizing Code Execution

                </li>
                <li>
                    <a href="https://p5js.org/" target="_blank">
                        p5.js
                    </a>
                    - JavaScript library for creative coding
                </li>
                <li>
                    <a href="https://gitbook.io" target="_blank">
                        GitBook
                    </a>
                    - technical team documentation platform
                </li>
                <li>
                    <a href="https://editor.drawthedots.com/" target="_blank">
                        Draw the Dots Editor
                    </a>
                    - Online ABC JS Quick Editor
                </li>
            </ul>
            </p>

            <h3 class="w3-left-align">
                Music
            </h3>
            <p class="w3-left-align">
            <ul class="w3-left-align">
                <li>
                    <a href="https://www.youtube.com/@hatao" target="_blank">
                        Hatao`s Irish Tune of the Day
                    </a>
                    - Wonderful music by Hatao related to in Celtic & Nordic styles
                </li>
                <li>
                    <a href="https://www.youtube.com/@TunesAndTools" target="_blank">
                        Irish Flute Techniques - Tunes & Tools
                    </a>
                    - Flute Reference and Techniques by Jon Antonsson
                </li>
                <li>
                    <a href="https://www.youtube.com/@ShannonHeatonMusic" target="_blank">
                        Shannon Heaton Music
                    </a>
                    - Guided online sessions and tunes taught by Shannon and Matt Heaton.
                </li>

                <div class="w3-row w3-left-align">
                    <p><button class="w3-button w3-padding-large w3-white w3-border" type="button"
                            onclick="location.href='{{index_ref}}index.html'">
                            <b>Back to Home</b>
                        </button></p>
                </div>
        </div>
    </div>
</div>
{% endblock %}