{% extends '_base.html' %}

{% block css_styles %}
  {% for css_style in css_style_sheets %}
    <link rel="stylesheet" href="static/css/{{ css_style }}">
  {% endfor %}
{% endblock %}

{% block content %}
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s
12" id="blogs-container">
  <h1 class="w3-center">Blog Posts</h1>
  <!-- Blog entry -->
  {% for blog_post in blog_posts %}
    {% if loop.index <= 3 %}
      {% set hidden = false %}
      {% include 'partial/_blog_tile.html' %}
    {% else %}
      {% set hidden = true %}
      {% include 'partial/_blog_tile.html'%}
    {% endif %}
  {% endfor %}
<!-- END BLOG ENTRIES -->
<div class="w3-right" style="margin-right: 15px;">
  <button
    id="display-all-blog-posts-btn" 
    class="w3-button w3-padding-large w3-white w3-border w3-display-container"
    type="button"
    onclick="displayAllBlogPosts()"
    style="box-shadow:0 4px 10px 0 rgba(0,0,0,0.2)"
    >
    <b>DISPLAY ALL BLOG POSTS</b>
  </button>
  </div>
<script>
  function displayAllBlogPosts() {
    var blogContainer = document.getElementById('blogs-container');
    var blogPosts = blogContainer.getElementsByTagName('div');
    for (var i = 0; i < blogPosts.length; i++) {
      blogPosts[i].style.display = 'block';
    }
    var displayAllBlogPostsBtn = document.getElementById('display-all-blog-posts-btn');
    displayAllBlogPostsBtn.style.display = 'none';
  }
</script>

</script>
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- Projects Card -->
  
<div class="w3-card w3-margin w3-white">
  <h2 class="w3-center w3-padding-large">Side Projects</h2>
    <!-- Whistle Class -->
    <a
    href="html_projects/fall-2025-music-class/sign-up.html"
    class=""
    style="text-decoration: none;"
    >
      <div class="w3-container w3-hover-green">           
        <img src="static/images/spring_2025_sign_up.png" 
          alt="spring2025signup"
          class="w3-left w3-margin" 
          style="width:60px">
        <h5>Fall 2025 Music Class <br>Sign-Ups</h5>
        <p style="margin-left: 70px;">
        </p>
      </div>
    </a>
    <!-- Project 1 -->
    <a
    href="html_projects/auto-foinn-sesium/auto-foinn-sesium.html"
    class=""
    style="text-decoration: none;"
    >
      <div class="w3-container w3-hover-green">           
        <img src="static/images/autoFoinnSeisiumPage.png" 
          alt="autofoinnsesiumpic"
          class="w3-left w3-margin" 
          style="width:60px">
        <h5>Auto Foinn Seisum</h5>
        <p style="margin-left: 70px;">
          A web player for practicing with Irish session music.
        </p>
      </div>
    </a>
    <!-- Project 2 -->
    <a
    href="https://vgsdb.com/"
    target="_blank"
    class=""
    style="text-decoration: none;"
    >
      <div class="w3-container w3-hover-green">           
        <img src="static/images/vgsdbimage.png" 
          alt="autofoinnsesiumpic"
          class="w3-left w3-margin" 
          style="width:60px">
        <h5>Heaton Virtual Guided Session Database</h5>
        <p style="margin-left: 90px;">
          An online database for tunes played for the Virtual
          Guided Session.
        </p>
      </div>
    </a>
    <!-- Project 3 -->
    <a
    href="html_projects/image-crop-and-resize/image-crop-and-resize.html"
    class=""
    style="text-decoration: none;"
    >
      <div class="w3-container w3-hover-green">           
        <img src="static/images/imageCropAndResize.png" 
          alt="Image Crop and Rezise"
          class="w3-left w3-margin" 
          style="width:60px">
        <h5>Image Crop and Resize</h5>
        <p style="margin-left: 90px;">
          A web application for cropping and resizing an image.
        </p>
      </div>
    </a>
  </div><hr>
  
  <!-- Main Posts -->
  <div class="w3-card-4 w3-margin" hidden>
    <div class="w3-container w3-padding">
      <h4>Main Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      {% for main_blog_post in main_blog_posts %}
      <li class="w3-padding-16">
        <img src="static/images/{{ main_blog_post.main_image }}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{ main_blog_post.title }}</span><br>
      </li>
      {% endfor %}  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-white">
      <h2 class="w3-center w3-padding-large">All Tags</h2>
    <p>
      {% for tag in tags %}
      <span 
        class="w3-tag w3-light-grey w3-hover-green"
        style="margin: 1px; padding: 1px;"
        onclick="location.href='tag/{{ tag.tag_slug() }}.html'"
      >
        {{ tag }}
      </span>
    {% endfor %}
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>
{% endblock %}