{% extends '_base.html' %}

{% block css_styles %}
{% for css_style in css_style_sheets %}
<link rel="stylesheet" href="static/css/{{ css_style }}">
{% endfor %}
{% endblock %}

{% block content %}
<div class="w3-row w3-margin w3-center">
    <div class="w3-col w3-card-4 l12 s12 w3-white">
        <div class="w3-container" style="padding-bottom: 15px;">

            <h2 class="w3-center">Lifter 1: The Eternal Beginner</h2>

            <p class="w3-left-align">
                Let's say you're thirty-five. You've never followed a program for more than a couple of
            months. You'll join a gym in January, or renew your membership to the gym you
            joined the previous January, and you'll do pretty well until you find yourself losing
            the spark around Valentine's Day. You go through the motions for a few more weeks,
            but by St. Patrick's Day you're running on fumes. Since you've made no gains since
            late January, your motivation is sapped.
            The great thing about you is that your body has made very few adaptations to ex-
            ercise. That means virtually everything you try is going to produce visceral, measur-
            able, visual results. You'll feel better, you'll see your strength improving every week, and
            you'll be able to see it all working when you look in a mirror. Others will see it, too.
            Your plan:
            </p>

            <h3 class="w3-left-align">Weeks 1-4: Break-In program</h3>

            <p class="w3-left-align">Two workouts a week for four weeks.</p>

            <h4>Break-In Workout A</h4>
            <img
                src="static/images/workouts/001_Breakin_workout_A.jpg"
                class="w3-image w3-grayscale-max">
            
            <button onclick="w3HideById('section1')"
                class="w3-button w3-block">
                <h5>Exercises +</h5>
            </button>
            <div id="section1" class="w3-container w3-hide">
                <img
                    src="static/images/workouts/squat.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                <img
                    src="static/images/workouts/static_lunge.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                <img
                    src="static/images/workouts/two_point_db.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                <img
                    src="static/images/workouts/push_up.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                <img
                    src="static/images/workouts/swiss_ball_cruch.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
            </div>

            <br>
            <br>

            <h4>Break-In Workout B</h4>
            <img
                src="static/images/workouts/002_Breakin_workout_B.jpg"
                class="w3-image w3-grayscale-max">

            <button onclick="w3HideById('section2')"
                class="w3-button w3-block">
                <h5>Exercises +</h5>
            </button>
            <div id="section2" class="w3-container w3-hide">
                <img
                    src="static/images/workouts/deadlift.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                    <img
                    src="static/images/workouts/stepup.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                    <img
                    src="static/images/workouts/dbpress.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                    <img
                    src="static/images/workouts/lat_pulldown.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                    <img
                    src="static/images/workouts/lat_pulldown_2.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
                    <img
                    src="static/images/workouts/reverse_crunch.jpg"
                    class="w3-image w3-grayscale-max"
                    style="max-width: 90%;">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_files %}
<script>
    function w3HideById(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-hide") == -1) {
        x.className += " w3-hide";
      } else {
        x.className = x.className.replace(" w3-hide", "");
      }
    }
</script>
{% endblock %}