.blog-image {
    width: 80%;
    overflow: auto;
}

a:hover {
    color: #4BAE50;
}

.w3-tag {
    cursor: pointer;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
}