{% extends '_base.html' %}

{% block css_styles %}
{% for css_style in css_style_sheets %}
  <link rel="stylesheet" href="../static/css/{{ css_style }}">
{% endfor %}
<style>
  .iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-card-4 w3-margin w3-white">
  <div class="w3-display-container">
    <img src="../static/images/{{ blog_post.main_image }}" alt="image_1400x440" 
    style="width:100%"
    >
    {% if blog_post.photo_credit %}
    <div class="w3-tag w3-black w3-tiny w3-display-bottomright">{{ blog_post.photo_credit | safe }}</div>
    {% endif %}
  </div>
  <div class="w3-container w3-content">
    <h1><b><u>{{ blog_post.title }}</u></b></h1>
    <h5><span class="w3-opacity">{{ blog_post.date  }}</span></h5>
    <div class="w3-row">
      Tags:<br>
      {% if blog_post.tags %}
        {% for tag in blog_post.tags %}
          <span 
            class="w3-tag w3-light-grey w3-hover-green"
            onclick="location.href='{{index_ref}}tag/{{ tag.tag_slug() }}.html'"
          >
            {{ tag }}
          </span>
        {% endfor %}
      {% endif %}
    </div>

    <hr>

    <!-- Blog -->
    <div class="w3-margin-bottom">
      {{ blog_file_contents | safe }}
    </div>

    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p><button 
          class="w3-button w3-padding-large w3-white w3-border"
          type="button"
          onclick="location.href='{{index_ref}}index.html'"
          >
          <b>Back to Home</b>
        </button></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}