{% extends '_base.html' %}

{% block css_styles %}
  {% for css_style in css_style_sheets %}
    <link rel="stylesheet" href="../static/css/{{ css_style }}">
  {% endfor %}
{% endblock %}

{% block content %}
<div class="w3-card-4 w3-margin w3-white">
  <div class="w3-container w3-content">
    <h1><b>
      Tag: 
      <span 
        class="w3-tag w3-green"
      >
        {{ tag }}
      </span>
    </b></h1>
    <hr>

    <!-- Blog entry -->
    <h2>Blog Posts With Matching Tag</h2>
    <ul>
    {% for blog_post in blog_posts %}
      <li>
        {% include 'partial/_blog_short.html' %}
      </li>
    {% endfor %}
    </ul>

    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p><button 
          class="w3-button w3-padding-large w3-white w3-border"
          type="button"
          onclick="location.href='{{index_ref}}index.html'"
          >
          <b>Back to Home</b>
        </button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}